<nav class="navbar navbar-light navbar-modern">
  <div class="container">
    <%= link_to "Juega Link", root_path, class: "navbar-brand fw-bold" %>
    <div class="d-flex">
      <%= link_to "Home", root_path, class: "nav-link me-3" %>
      <%= link_to "Login", home_login_path, class: "nav-link" %>
    </div>
  </div>
</nav>

