<nav class="navbar navbar-light navbar-modern">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to "Home", fyp_index_path, class: "nav-link me-3" %>
      <%= link_to "Search", fyp_search_path, class: "nav-link" %>
      <%= link_to "Profile", fyp_profile_path, class: "nav-link" %>
    <% else %>
      <%= link_to "Login", home_login_path, class: "nav-link" %>
    <% end %>
    </div>
  </div>
</nav>

