python-dotenv
flask
flask-cors
langchain
langchain-openai
langchain-community
langchain-classic
langchain-neo4j
langchain-text-splitters
langgraph
neo4j
openai
faiss-gpu
faiss-cpu
pydantic
scikit-learn
requests
gensim